
# ── GCP ────────────────────────────────────────────────────────────────────────

GCP_PROJECT_ID="crypto-analytics-2026"
GCP_BUCKET_NAME="crypto-analytics-dev-raw-data"
BQ_DATASET="crypto_analytics_dev_raw"
BQ_PRICES_TABLE="prices"
BQ_NEWS_TABLE="news"


# ── Pipeline ───────────────────────────────────────────────────────────────────

# Use "gcs" inside Docker — "local" is only for running python/ scripts directly
STORAGE_TARGET="GCS"
# ── API Keys ───────────────────────────────────────────────────────────────────

COINGECKO_API_KEY=<YOUR_COINGECKO_API_KEY>
NEWS_API_KEY=<YOUR_NEWS_API_KEY>
GCLOUD_ADC_PATH=<YOUR_GCLOUD_ADC_PATH>

#Dbt
DBT_PROJECT_DIR=/opt/airflow/dbt